* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(rgb(7, 7, 93), rgb(3, 6, 21));
  scroll-behavior: smooth;
}

.nav-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
}

.nav-header .logo {
  color: #fff;
  font-size: 2em;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list-item {
  list-style: none;
  margin-left: 20px;
}

.nav-list-item a {
  text-decoration: none;
  padding: 6px 15px;
  color: #fff;
  border-radius: 20px;
}

.nav-list-item a:hover,
.nav-list-item a.active {
  background: #fff;
  color: rgb(7, 7, 93);
}

.img_section {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.img_section::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 100%;
  background: linear-gradient(to top, rgb(3, 6, 21), transparent);
  z-index: 1000;
}

.img_section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.img_section #moon {
  mix-blend-mode: screen;
}

.img_section #mountains_front {
  z-index: 10;
}

#text {
  position: absolute;
  right: -350px;
  color: #fff;
  white-space: nowrap;
  font-size: 8vw;
  z-index: 9;
}

#btn {
  padding: 16px 30px;
  background-color: #fff;
  border-radius: 40px;
  text-decoration: none;
  color: rgb(7, 7, 93);
  font-size: 1.75rem;
  transform: translateY(100px);
}

.sec {
  padding: 100px;
  background-color: rgb(3, 6, 21);
}

.sec h2 {
  color: #fff;
  margin-bottom: 10px;
  font-size: 3.5em;
}

.sec p {
  font-size: 1.2em;
  color: #fff;
}
